
======== show products of variant color =========================

{% for variant in product.variants %}
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: variant,
                    ctm_product: product,
                    card_collection: collection,
                    media_size: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_quick_buy: section.settings.show_quick_buy,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    enable_quick_view: section.settings.enable_quick_view,
                    enable_color_swatches: section.settings.enable_color_swatches,
                    enable_countdown: section.settings.enable_countdown,
                    enable_image_fill: section.settings.enable_image_fill,
                    lazy_load: lazy_load
                  %}
                </li>
               {% endfor %}
			   
			   ======== card product ===========
			   
			    {%- if card_product.featured_media -%}
        <a href="{{ card_url }}" class="card-information__text h4" tabindex="-1">
          {% if ctm_product %}
            {{ ctm_product.title | append: ' - ' | append: card_product.title | escape }}
          {% else %}
            {{ card_product.title | escape }}
          {% endif %}
        </a>
      {%- endif -%}

      ////////////////////////////////////////////////////

      ============= 2 ==============================
        ====== main collection product grid .liquid ===========
	  
	   <ul id="product-grid" data-id="{{ section.id }}" class="product-grid {{ grid_class }}" role="list">
            {%- for product in collection.products -%}
              {%- liquid
                assign lazy_load = true
                if forloop.first
                  assign lazy_load = false
                endif
              -%}
               {% for variant in product.variants %}
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: variant,
                    ctm_product: product,
                    card_collection: collection,
                    media_size: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_quick_buy: section.settings.show_quick_buy,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    enable_quick_view: section.settings.enable_quick_view,
                    enable_color_swatches: section.settings.enable_color_swatches,
                    enable_countdown: section.settings.enable_countdown,
                    enable_image_fill: section.settings.enable_image_fill,
                    lazy_load: lazy_load
                  %}
                </li>
               {% endfor %}
             
              
            {%- endfor -%}
          </ul>
		  
		  ------------------ snippets cart product .liquid --------------
		  {%- else -%}
      <div class="card__inner">
        <a href="{{ card_url }}" class="media media--{{ media_size }}" tabindex="-1">
          <div class="card__content">
            {% if ctm_product %}
              <h3 class="card-information__text h3">{{ ctm_product.title | append: card_product.title | escape }}</h3>
            {% else %}
              <h3 class="card-information__text h3">{{ card_product.title | escape }}</h3>
            {% endif %}
          </div>
        </a>
      </div>
    {%- endif -%}
  </use-animate>
  
  -----------------------------------------